body
{
    text-align: justify;
    color: #000;
    background:lightgrey;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jtk{
  margin-right: 30px;
  float: left;
  margin-bottom: 25px;
}

.ttt
{
    width: 500px;
    margin: 10px;
    padding: 10px;

    color: lightblue;
    border: 5px solid grey;
    background: rgba(143, 18, 87, .5);
}

.menu li
{
    float: left;
    margin-right: 50px;
    margin-bottom: 25px;
    list-style: none;
}
.formulario{
  clear: both;
}

.T1
{
    color: rgb(190, 24, 87);
}
.T2
{
    color: rgb(72, 66, 138);
}



/*comentario!!!!*/
